* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#one
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
}
#two
{
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  min-height: 100vh;
}
.box,
.box1,
.box2,
.box3,
.box4,
.box5
{
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
/* .box1{
  left: 50px;
}.box2{
  left: 150px;
} */
.box img,
.box1 img,
.box2 img,
.box3 img,
.box4 img,
.box5 img
{
  width: 300px;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}

.box img:nth-child(2),
.box1 img:nth-child(2),
.box2 img:nth-child(2),
.box3 img:nth-child(2),
.box4 img:nth-child(2),
.box5 img:nth-child(2)
{
  transform: rotateY(180deg);
}

.box:hover img:nth-child(2),
.box1:hover img:nth-child(2),
.box2:hover img:nth-child(2),
.box3:hover img:nth-child(2),
.box4:hover img:nth-child(2),
.box5:hover img:nth-child(2)
{
  transform: rotateY(0deg);
}

.box:hover img:nth-child(1),
.box1:hover img:nth-child(1),
.box2:hover img:nth-child(1),
.box3:hover img:nth-child(1),
.box4:hover img:nth-child(1),
.box5:hover img:nth-child(1)
{
  transform: rotateY(-180deg);
}